* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: gray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    
}

.container {
    width: 90%;
    margin: 0 auto;
}
h4 {
    font-size: 30px;
}

header h4 ul{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}


ul li {
    display: inline-block;
    list-style-type: none;
    padding-right:  20px;
    padding-left: 20px;
    border-radius: 25px;
}
ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: red;
    transition: .4s;
}

.homeContainer {
    text-align: center;
}

.homeContainer h3 {
    font-size: 30px;
}

.homeContainer h1 {
    
    font-size: 50px;
    opacity: 0;

    animation: fadeIn 2s forwards;animation-delay: 4s;
}

.homeContainer h5 {
    font-size: 20px;
}

/* .homeContainer h1:before {
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, gray 5%, gray 100%);
    animation: animate 8s linear forwards;
} */

@keyframes fadeIn {
    from {
        opactiy: 0%;
        transform: translateY(7px);
    }
    to {
        opacity: 1;
        transform: translateY(-7px);

    }
}




/* For tab buttons */
/*.btn {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
   position: relative;
   
}

.btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(174,103,221,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn:hover:before {
    width: 100%;
}
*/


/* Splash Screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }