* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #161616;
    color: white;
}


/*hidden and show are for scrolling animations*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid black;
    
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hero a {
    text-decoration: none;
    color: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
    margin-top: 5rem;
}
.section2 {
    margin-top: 5rem;
}

h4 {
    font-size: 30px;
}

header h4 ul{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}


.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.hero label {
    display: none;
}

ul li a:hover {
    color: #00dfc4;
    transition: .4s;
}

div.homeContainer {
    
    width: 100%;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 200px 0px 360px; */
    
}

.homeContainer video {
    position: absolute;
    top: 9%;
    object-fit: cover;
    width: 100%;
    height: 95%;
    pointer-events: none;

}

.homeContainer .content {
    position: relative;
    z-index: 0;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
}

.homeContainer {
    text-align: center;
}

.homeContainer h3 {
    font-size: 30px;
}

.homeContainer h1 {
    
    font-size: 50px;
    opacity: 0;

    animation: fadeIn 2s forwards;animation-delay: 3.2s;
}

@keyframes fadeIn {
    from {
        opactiy: 0%;
        transform: translateY(7px);
    }
    to {
        opacity: 1;
        transform: translateY(-4px);

    }
}
.homeContainer h5 {
    font-size: 20px;
}

.typewriter {
    display: inline-block;
}

.typetext {
    border-right: 2px solid white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: both;
    font-size: 1.6em;
    padding-top: 10px;

}
@keyframes typing {
    from { 
        width: 0;
    }
    
}
@keyframes cursor {
    20% {border-color: transparent;}
}


div.firstSection {
    background-color: #161616;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.aboutMe {
    padding-top: 20px;
}

.line {
    border: 2px solid gray;
}

.aboutMe h1 {
    padding-bottom: 5px;
    border-bottom: 5px solid gray;
    padding-right: 100px;
}

.aboutMe h3 {

    padding-left: 20px;

}

.bottomAM {
    color: #515ada;
}

/*Skill Section*/

.skillSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    
}

.skillSection .boxSkills {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    transition: 0.5s;
}

.boxSkills {
    display: flex;
}

.boxSkills:nth-child(3) {
    transition-delay: 200ms;
}

.boxSkills:nth-child(4) {
    transition-delay: 400ms;
}

.skillSection .boxSkills::before {
    content:"";
    position: absolute;
    top: 0;
    left: 50px;
    width: 70%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.3s;
}

.skillSection .boxSkills::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(40px);
    transition: 0.5s;
}

.skillSection .boxSkills:hover:before,
.skillSection .boxSkills:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}

.skillSection .boxSkills:nth-child(2):before,
.skillSection .boxSkills:nth-child(2):after {
    background: linear-gradient(315deg, rgba(174,103,221,1), rgba(104,0,255,1))
}

.skillSection .boxSkills:nth-child(3):before,
.skillSection .boxSkills:nth-child(3):after {
    background: linear-gradient(315deg, rgba(6,126,255,1), rgba(212,6,255,1))
}

.skillSection .boxSkills:nth-child(4):before,
.skillSection .boxSkills:nth-child(4):after {
    background: linear-gradient(315deg, rgba(103,198,221,1), rgba(6,72,255,1))
}

.skillSection .boxSkills span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

/* .skillSection .boxSkills span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blue(10px);
    opacity: 0;
    transition: 5s;
} */

.skillSection .boxSkills span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blue(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.skillSection .boxSkills:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.skillSection .boxSkills span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blue(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

.skillSection .boxSkills:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}


.skillSection .boxSkills .contentCard {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blue(10px);
    z-index: 1;
    transition: 0.5s;
    color: #ffff;
}

.skillSection .boxSkills:hover .contentCard {
    left: -25px;
}


/*project cards*/

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 50px;
    height: 100vh;
}

.projects .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0.35px 20px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.projects .card:hover {
    height: 400px;
}

.projects .card .img {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s
}

.projects .card:hover .img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.projects .card .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    color: black;
}

.projects .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.projects .card:hover .content {
    top: 130px;
    height: 250px;
}

.projects .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}

.projects .card .content p {
    color: #333;
}

.projects .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 15px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}


.outcard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    flex-wrap: wrap;
}
.outcard:nth-child(2) {
 transition-delay: 200ms;
}
 .outcard:first-child {
    transition-delay: 250ms;
 }


 /*Contact Part*/
 

 .contactText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;;
    padding-top: 180px;
 }

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
    min-height: 60vh;
    gap: 30px;
    border: 1px solid transparent;
    border-image: linear-gradient( #515ada 0%, #efd5ff 100%) ;
    border-image-slice: 1;
}

.inputBox {
    position: relative;
    width: 250px;
}

.contact .inputBox #messageBox {
    width: 250px;
    height: 100px;
}


.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    background: #161616;
    border-radius: 5px;
    outline: none;
    color: #ffff;
    font-size: 1em;
    transition: 0.5s;
}



.inputBox label {
    position: absolute;
    top: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label {
    color: #515ada ;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #161616;
    border-left: 1px solid #515ada ;
    border-right: 1px solid #515ada ;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ label,
.inputBox:nth-child(2) input:focus ~ label {
    background: #515ada ;
    color: #161616;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #515ada ;
}

/* For tab buttons */
button {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
   position: relative;
   color: white;
   
}

button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(90deg, #515ada 55%, #515ada 100%);
    color: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover:before {
    width: 100%;
}



/* Splash Screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
    .aboutMe {
        width: 80%;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 760px;
    }
  }
  
  /* md */
  @media (max-width: 760px) {
    .container {
      max-width: 640px;
    }

    /* .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .hero label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
        z-index: 1;
    } */
    
    .section{
        margin-top: 33rem;
    }
    .section2{
        margin-top: 25rem;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
    .section {
        margin-top: 37rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      max-width: 100%;
    }
    .aboutMe {
        margin-top: 5rem;
    }
    .skillSection {
        margin-top: 10rem;
    }
  }

@media(min-width: 350px) and (max-width: 456px) {
    .container {
        max-width: 100%;
    }
    .aboutMe {
        margin-top: 40rem;
    }
    .skillSection {
        margin-top: 50rem;
    }

    .section {
        margin-top: 45rem;
    }
}